<div class="nav">
  <div class="logo">
    <a href="about">
      <img src="logo.png" width="48" height="48" alt="Purplebyte logo">
    </a>
  </div>
  <div class="contacts">
    <a href="about">About us</a>
    <a href="contact">Contact</a>
  </div>
  <div class="joinus">
    <a href="joinus">Join us</a>
    <div>
      <a href="https://discord.gg/kXeNcRWmbe">
        <box-icon type='logo' name='discord-alt' color="var(--fg)" style="cursor:pointer"></box-icon>
      </a>
      <a href="https://www.youtube.com/@PurpleByteCreations">
        <box-icon type='logo' name='youtube' color="var(--fg)"style="cursor:pointer"></box-icon>
      </a>
    </div>
  </div>
</div>
