<div class="about-page">
  <app-navbar style="width:100%;"></app-navbar>
  <div style="display: flex; flex-direction: column; align-items: center;">
    <div class="initial">
      <h1 class="title">About Purplebyte</h1>
    </div>
    <div class="about">
      <h1>Who are we?</h1>
      <p>
        We are the creative minds behind innovative add-ons for Minecraft Bedrock Edition.
        Our team of passionate enthusiasts is dedicated to bringing more fun and excitement to the Minecraft community by enhancing gameplay with new mechanics,
        features, and much more through our custom add-ons.
      </p>
      <h1>Our Purpose</h1>
      <p>
        Our mission is to provide high-quality add-ons that makes Bedrock experience feel as playing Java Edition or even better than it, by
        expanding the possibilities within Bedrock while making it enjoyable for everyone and mostly important, accessible.
      </p>
      <h1>Corporate citizenship</h1>
      <p>
        At PurpleByte Creations, we believe that Minecraft is the starting point for endless creativity by using addons to increase the default experience of Minecraft itself.
        We believe that by listening the community, we can make a great place where add-ons consumers feel confortable to <strong>contact us</strong> when they feel the need to do so.
        We aim to listen carefully what people are talking and complaining about, and then do as the community says to make it the best experience for you.
      </p>
    </div>
  </div>
  <app-footer style="width:100%"></app-footer>
</div>
